body {
  font-family: Georgia;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  padding: 10px 0;
  border-bottom: 0px solid #000000;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  margin-top: 20px;
}

.navbar {
overflow: hidden;
background-color: #ffffff;
position: relative;
font-size: 17px;
}

.navbar a {
float: left;
display: block;
color: black;
text-align: center;
padding: 14px 20px;
text-decoration: none;
position: relative;
transition: color 0.3s;
}

.navbar a::after {
content: '';
position: absolute;
left: 0;
bottom: 0;
width: 100%;
height: 2px;
background-color: #88b0bf;
transition: background-color 0.3s, height 0.3s;
}

.navbar a:hover::after, .navbar a.active::after {
background-color: #88b0bf;
height: 4px;
}

.navbar a:hover {
color: #88b0bf;
}

section {
  padding: 10px;
  border-bottom: px solid #371616;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box_half {
  width: 45%; 
  padding: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.image_half {
  width: 45%;
  height: 100%;
}

.image_half img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.image_all {
  width: 100%;
  height: 100%;
  justify-content: center;
}

.no_box_half {
width: 50%; 
padding: 20px;
border: 0px solid #ccc;
box-sizing: border-box;
}

.justified {
text-align: justify;
}

.container + .container {
  margin-top: 40px;
}

.container_bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; /* Align items to the bottom */
}

.image_half_bottom {
  width: 50%; /* Each image takes half of the container width */
  height: auto; /* Maintain aspect ratio */
}

.image_half_bottom img {
  width: 100%; /* Make sure the image takes up the entire space of its container */
  height: auto; /* Maintain aspect ratio */
}